<div class="panel panel-info">
	<div class="panel-heading">
		Method List
		<div class="form-inline pull-right">
			<label for="species"> Search: </label> <input type="text" id="search"
				class="form-control" ng-model="search" placeholder="search... " />
		</div>
	</div>
	<div class="panel-body">
		<div class="row content">
			<div class="col-sm-2 sideav">
				<div>
					<h5></h5>
				</div>
				<form class="form">
					<label for="basin" class="control-label">Method: </label> <input
						type="text" id="method" class="form-control hasclear"
						ng-model="search.methodName"> <label for="river"
						class="control-label ">Method Link: </label> <input type="text"
						id="methodLink" class="form-control hasclear"
						ng-model="search.methodLink">
				</form>
			</div>
			<div class="col-sm-10 text-left">
				<table class="table table-striped">
					<thead>
						<tr class="paginationclass">
							<th>ID</th>
							<th>Method Name</th>
							<th>Method Link</th>
							<th colspan="2">
								<button ng-click="createMethod()"
									class="btn btn-sm btn-info pull-right">
									<span class="glyphicon glyphicon-plus"></span> Create Method
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="paginationclass"
							ng-repeat="method in methods | filter:search | pagination: (currentPage-1) * numPerPage | limitTo: numPerPage">
							<td>{{ method.methodID }}</td>
							<td>{{ method.methodName }}</td>
							<td>{{ method.methodLink }}</td>
							<td>
								<div class="form-inline pull-right">
									<button type="button" ng-click="editMethod(method.methodID)"
										class="btn btn-sm btn-info">
										<span class="glyphicon glyphicon-edit"></span> Edit
									</button>
									<button type="button"
										confirmed-click="deleteMethod(method.methodID)"
										ng-confirm-box-click="Are you sure to Delete?"
										class="btn btn-sm btn-warning">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div align="center">
					<uib-pagination ng-model="currentPage" total-items="methods.length"
						max-size="maxSize" items-per-page="numPerPage"
						boundary-links="true"> </uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>