<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="form-inline">
			<h4>Data Search - Fish</h4>
			<hr class="divider">
			<input type="radio" ng-model="radioValue" ng-value="1"> <label
				for="yearSearch" class="control-label"> Year: </label> <select
				class="form-control" ng-model="ddlYear"
				ng-options="o as o for o in years" ng-change="getYear()">
			</select> <select class="form-control" ng-model="ddlTerm"
				ng-options="t as t for t in terms" ng-change="getTerm()">
			</select> <input type="radio" ng-model="radioValue" ng-value="2"> <label
				for="periodSearch" class="control-label"> Period: </label>
			<div class="input-group date" id="startTime">
				<input type="text" class="form-control" placeholder="Date from">
				<span class="input-group-addon"> <span
					class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			~
			<div class="input-group date" id="endTime">
				<input type="text" class="form-control" placeholder="Date to">
				<span class="input-group-addon"> <span
					class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>

			<!-- <div datepicker data-ng-model="start"  data-year-range="1" data-show-weeks="false" ></div>
			  Date: {{start}} 
			
			<div datepicker data-ng-model="end"  data-year-range="1" data-show-weeks="false" ></div>
			  Date: {{end}}  -->

			<script type="text/javascript">
				$(function() {
					$('#startTime').datetimepicker({
						format : 'YYYY-MM-DD HH:mm:ss'
					});
					$('#endTime').datetimepicker({
						format : 'YYYY-MM-DD HH:mm:ss',
						useCurrent : false
					//Important! See issue #1075
					});
					$("#startTime").on("dp.change", function(e) {
						$('#endTime').data("DateTimePicker").minDate(e.date);
					});
					$("#endTime").on("dp.change", function(e) {
						$('#startTime').data("DateTimePicker").maxDate(e.date);
					});
				});
			</script>
			<div class="btn-group pull-right">
				<button type="button" ng-click="searchFish()"
					class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-search"></span> Search Fish
				</button>
				<button type="button" ng-click="searchByFish()"
					class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-search"></span> Search Value
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<label for="predicate">selected predicate:</label>
		<table st-set-filter="customFilter" st-table="displayed"
			st-safe-src="collection" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th st-sort="fishID">ID</th>
					<th st-sort="toleranceGuild.definition">내성도 길드</th>
					<th st-sort="trophicGuild.definition"> 섭식 길드 </th>
					<th st-sort="habitatGuild.definition"> 서식 길드 </th>
					<th st-sort="invasiveSpecies"> 외래종</th>
					<th st-sort="endemicSpecies"> 고유종</th>						
					<th st-sort="endangeredSpecies">멸종위기종</th>
				</tr>

				<tr>
					<th><input class="form-control" placeholder="search"
						st-search="fishID"></th>
					<th>
						<input class="form-control" placeholder="search"
						st-search="toleranceGuild"> </th>
					<th>
						
						<input class="form-control" placeholder="search"
						st-search="trophicGuild">
					</th>
					<th>
						<input class="form-control" placeholder="search"
						st-search="habitatGuild">
					</th>
					<th><input class="form-control" placeholder="search"
						st-search="invasiveSpecies"> </th>
					<th><input class="form-control" placeholder="search"
						st-search="endemicSpecies"></th>
					<th>
						<st-select
							collection="displayed" predicate="endangeredSpecies"></st-select>
						<input class="form-control" placeholder="search"
						st-search="endangeredSpecies"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fish in displayed">
					<td>{{ fish.fishID }}</td>
					<td>{{ fish.toleranceGuild.definition }}</td>
					<td>{{ fish.trophicGuild.definition  }}</td>
					<td>{{ fish.habitatGuild.definition  }}</td>
					<td>{{ fish.invasiveSpecies }}</td>
					<td>{{ fish.endemicSpecies }}</td>
					<td>{{ fish.endangeredSpecies }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>