<div class="panel panel-info">
	<div class="panel-heading">
		<div class="row content">
			<div class="col-sm-8 sideav">
				<h4>View In Map</h4>
			</div>
			<div class="col-sm-4 form-inline text-right">
				<button back class="btn btn-default btn-sm pull-right">
					<span class="glyphicon glyphicon-arrow-left"></span> Back
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">

		<!-- <input ng-click="deleteMarkers()" type="button" value="Delete Markers"> -->

		
		<map center="36.1813, 127.3946" zoom="8" style="height: 830px; width: 100%; border: 2px solid #777777; margin: 3px; border: 1px solid">
			<marker ng-repeat="pos in positions"
				position="{{pos.latitude}}, {{pos.longitude}}"
				icon="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld={{getRadius(pos)}}|FF776B|000000"
            shadow="https://chart.googleapis.com/chart?chst=d_map_pin_shadow"
				on-click="showInfoWindow(event, pos)"></marker>
			<!-- <shape ng-repeat="pos in positions"
				center="{{pos.latitude}}, {{pos.longitude}}" stroke-weight="2"
				stroke-opacity="0.8" stroke-color="#FF0000" name="circle"
				fill-opacity="0.35" fill-color="#FF0000"
				radius="{{getRadius(pos)}}*100"></shape>

			</shape> -->
		</map>

	</div>
</div>